[[source]]
url = "https://pypi.org/simple" #урл, из которого мы берем библиотеки
verify_ssl = true #защита, что мы не должны ходить в незащищенные источники. Падаем, если не качаем пакеты не из безопасного места
name = "pypi"

[packages] #пакеты
selene = "*"
selenium = "*"

[dev-packages] # это пакеты, которые не нужны для проекта
flake8 = "*"

[requires]
python_version = "3.13" # явное указание версии питона
